<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="plus-kimble-dynamic-form">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `plus-kimble-dynamic-form`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PlusKimbleDynamicForm extends Polymer.Element {
      static get is() { return 'plus-kimble-dynamic-form'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'plus-kimble-dynamic-form'
          }
        };
      }
    }

    window.customElements.define(PlusKimbleDynamicForm.is, PlusKimbleDynamicForm);
  </script>
</dom-module>
