<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="plus-kimble-dynamic-form">
  <template>
    <style>
      :host {
        display: block;
        --plus-kimble-dynamic-form-button-ok: {
          background: #729BC7;
          color: #fff;
          text-transform: uppercase;
          width: 154px;
        }
        --plus-kimble-dynamic-form-button-cancel: {
          color: #729BC7;
          text-transform: uppercase;
          width: 154px;
        }
      }
      .plus-kimble-main-container {
        /*border: 1px solid blue;*/
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        /*text-align: center;*/
      }
      .plus-kimble-container-body {
        /*border: 1px solid red;*/
        width: 100%;
        padding: 5px;
      }
      .plus-kimble-container-actions {
        /*border: 1px solid green;*/
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding: 15px 0px;
        margin-top: 50px;
        /*text-align: center;*/
      }
      .plus-kimble-btn-ok {
        @apply --plus-kimble-dynamic-form-button-ok;
      }
      .plus-kimble-btn-cancel {
        @apply --plus-kimble-dynamic-form-button-cancel;
      }
    </style>
    <h2>[[titleForm]]</h2>
    <iron-form>
      <form class="plus-kimble-main-container">
        <div class="plus-kimble-container-body">
          <slot></slot>
        </div>
        <div class="plus-kimble-container-actions">
          <template is="dom-if" if="[[!readonly]]">
            <paper-button class="plus-kimble-btn-cancel" on-click="_reset">[[textButtonCancel]]</paper-button>
            <paper-button toggles raised class="plus-kimble-btn-ok" on-click="_send">[[textButtonOk]]</paper-button>
          </template>
        </div>
      </form>
    </iron-form> 

  </template>

  <script>
    /**
     * `plus-kimble-dynamic-form`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PlusKimbleDynamicForm extends Polymer.Element {
      static get is() { return 'plus-kimble-dynamic-form'; }
      static get properties() {
        return {
          titleForm: {
            type: String,
            value: 'Form'
          },
          textButtonOk: {
            type: String,
            value: "Send"
          },
          textButtonCancel: {
            type: String,
            value: "Cancel" 
          },
          readonly: {
            type: Boolean,
            value: false
          }
        };
      }
      /**
       * Represents that my app is started and init my elements.
       * @connectedCallback
       */
       connectedCallback() {
        super.connectedCallback()
        let form = this.shadowRoot.querySelector('iron-form')
        form.addEventListener('iron-form-submit', this._process.bind(this))
        //this.addEventListener('reset-plus-kimble-form', this._reset)
      }
      /**
       * Method for send data from form, for process data form
       * @_send
       */
      _send() {
        console.log("send");
        if (this.shadowRoot.querySelector('iron-form').validate()) {
          console.log("validate")
          this.shadowRoot.querySelector('iron-form').submit()
        }
      }
      /**
       * Method for clean form
       * @_reset
       * NOTE: NOT WORKING :(
       */
      _reset() {
        // console.log("Reset ? ", this.shadowRoot.querySelector('iron-form'))
        this.shadowRoot.querySelector('iron-form').reset()
      }
      /**
       * Method for process data form and create an event for catch in parent element
       * @_process
       * @param {object} e - event that generate after submit form
       */
      _process(e) {
        //delete e.detail.tmpstatus
        // console.log("before Process ", e.detail)
        //let data = this._cleanObject(e.detail)
        //console.log("after Process ", data)
        // process for remove undefined in my object
        this.dispatchEvent(new CustomEvent('plus-kimble-dynamic-form-submit', {
          detail: {
            data: e.detail
          }
        }))        
      }
    }

    window.customElements.define(PlusKimbleDynamicForm.is, PlusKimbleDynamicForm);
  </script>
</dom-module>
