<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../iron-input/iron-input.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-input-error.html">
<link rel="import" href="../paper-input/paper-input-container.html"></li>
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../datetime-picker/date-picker.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../vaadin-date-picker/vaadin-date-picker-light.html">

<dom-module id="plus-kimble-dynamic-form-field">
  <template>
    <style>
      :host{
        display: block;
      }
      vaadin-date-picker-light{
        width: 100%;
      }
      paper-dropdown-menu {
        width: 100%;
      }
      .plus-kimble-label-radio-checkbox {
        color: #737373;
        font-size: 12px;
      }
      /*.plus-kimble-input-select-label{
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.011em;
        
        color: #737373;
      }
      .plus-kimble-input-select{
        border: none;
        width: 98%;
        border-bottom: 1px solid #737373;
        padding: 5px;
        font-size: 16px;
        line-height: 24px;
        outline: none;
      }
      .plus-kimble-input-select:focus{
        border-bottom: 2px solid #3f51b5;
      }*/
      
    </style>
    
    <!-- type: input -> text, email, password, number -->
    <template is="dom-if" if="[[_isInputClassic()]]">
      <paper-input 
        label="[[labelInput]]" 
        type="[[typeInput]]" 
        name="[[nameInput]]" 
        placeholder$="[[_isExistValueForAttribute(placeholderInput)]]" 
        value$="[[_isExistValueForAttribute(valueInput)]]" 
        required$="[[_isExistValueForAttribute(requiredInput)]]" 
        disabled$="[[_isExistValueForAttribute(disabledInput)]]" 
        readonly$="[[_isExistValueForAttribute(readonlyInput)]]" 
        minlength$="[[_isExistValueForAttribute(minlengthInput)]]" 
        maxlength$="[[_isExistValueForAttribute(maxlengthInput)]]" 
        pattern$="[[_isExistValueForAttribute(patternInput)]]"
        error-message$="[[_isExistValueForAttribute(errorMessageInput)]]">
      </paper-input>
    </template>

    <!-- type: input -> datepicker -->
    <template is="dom-if" if="[[_isDatepicker()]]">
      <vaadin-date-picker-light attr-for-value="value" value$="[[_isExistValueForAttribute(valueInput)]]">
        <paper-input 
          label="[[labelInput]]" 
          name="[[nameInput]]" 
          placeholder$="[[_isExistValueForAttribute(placeholderInput)]]" 
          required$="[[_isExistValueForAttribute(requiredInput)]]" 
          readonly$="[[_isExistValueForAttribute(readonlyInput)]]" 
          error-message$="[[_isExistValueForAttribute(errorMessageInput)]]"></paper-input>
      </vaadin-date-picker-light>
    </template>

    <!-- type: select -> dropdown -->
    <template is="dom-if" if="[[_isSelect()]]">
      <paper-dropdown-menu 
        label="[[labelInput]]" 
        name="tmp[[nameInput]]" 
        on-iron-select="_getSelectedItemValue" 
        required$="[[_isExistValueForAttribute(requiredInput)]]" 
        disabled$="[[disabledInput]]" 
        error-message$="[[_isExistValueForAttribute(errorMessageInput)]]">
        <paper-listbox slot="dropdown-content" selected$="[[_isExistValueForAttribute(selected)]]">
          <template is="dom-repeat" items="[[itemsSelect]]">
            <paper-item value="[[item]]">[[item.value]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
      <input type="hidden" name="[[nameInput]]" class="hidden-select">
    </template>

    <!-- type: radio group -->
    <template is="dom-if" if="[[_isRadio()]]">
      <label class="plus-kimble-label-radio-checkbox">[[labelInput]]</label>
      <paper-radio-group 
        fallback-selection$="[[_isExistValueForAttribute(selected)]]" 
        attr-for-selected="value">
        <template is="dom-repeat" items="[[itemsRadio]]">
          <paper-radio-button 
            value="[[item.id]]" 
            name="[[nameInput]]" 
            disabled$="[[disabledInput]]">[[item.value]]</paper-radio-button>
        </template>
      </paper-radio-group>
    </template>
    
    <!-- type: checkbox -->
    <template is="dom-if" if="[[_isCheckbox()]]">
      <paper-checkbox 
        name="[[nameInput]]" 
        value$="[[valueInput]]" 
        checked$="[[checkedInput]]" 
        disabled$="[[disabledInput]]" 
        required$="[[requiredInput]]">
        [[labelInput]]
      </paper-checkbox>
    </template>

  </template>

  <script>
    /**
     * `plus-kimble-dynamic-form-field`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PlusKimbleDynamicFormField extends Polymer.Element {
      static get is() { return 'plus-kimble-dynamic-form-field'; }
      static get properties() {
        return {
          labelInput: {
            type: String,
            value: 'Input' /* default */
          },
          typeInput: {
            type: String,
            value: 'text' /* default */
          },
          nameInput: {
            type: String,
            value: 'input' /* default */
          },
          placeholderInput: {
            type: String,
            value: '' /* default */
          },
          valueInput: {
            type: String,
            value: ''
          },
          requiredInput: {
            type: Boolean,
            value: false
          },
          disabledInput: {
            type: Boolean,
            value: false
          },
          readonlyInput: {
            type: Boolean,
            value: false
          },
          minlengthInput: {
            type: Number,
            value: 0 /* default */
          },
          maxlengthInput: {
            type: Number,
            value: 0 /* default */
          },
          patternInput: {
            type: String,
            value: ''
          },
          errorMessageInput: {
            type: String,
            value: ''
          },
          /* inicio del select */
          itemsSelect: {
            type: Array,
            value: () => []
          }, 
          selected: {
            type: String,
            value: '0',/*,
            observer: '_getinfoFromDropdown'*/
          },
          itemsRadio: {
            type: Array,
            value: () => []
          },
          checkedInput: {
            type: Boolean,
            value: false
          }
        };
      }
      _getSelectedItemValue(e){
        // console.log("aas ",e.target.selectedItem.value)
        this.shadowRoot.querySelector('input.hidden-select').value = JSON.stringify(e.target.selectedItem.value)
      } 
      /**
       * Represents that my app is started.
       * @connectedCallback
       */
       connectedCallback() {
        super.connectedCallback()
      }
      /**
       * Method for verify that element is only classic input (text, email, password, number, etc)
       * @_isInputClassic
       * @return {boolean} true or false if is a classic input
       */
       _isInputClassic() {
        return (this.typeInput === 'text' || 
                this.typeInput === 'email' || 
                this.typeInput === 'password' ||
                this.typeInput === 'number') ? true : false
      }
      /**
       * Method for verify if exist value for my attribute
       * @_isExistValueForAttribute
       * @param {any} value - Value for attribute (type: string, number or boolean)
       * @return {boolean} false - if the condition is false
       */
       _isExistValueForAttribute(value) {
        if (value === 0 || !value || value === '') {
          return false
        }
        if (this.typeInput === 'radio') {
          value = parseInt(value) + 1
        }
        return value
      }
      /**
       * Method for verify that element is a date picker input (only support datepicker, not datepickertime)
       * @_isDatePicker
       * @return {boolean} false - if the condition is false
       */
       _isDatepicker() {
        return this.typeInput === 'datepicker' ? true : false    
      }
      /**
       * Method for verify that element is a select input (only support array of object)
       * @_isSelect
       * @return {boolean} false - if the condition is false
       */
       _isSelect() {
        return this.typeInput === 'select' ? true : false
      }
      /**
       * Method for verify that element is a radio input (radio gropup)
       * @_isRadio
       * @return {boolean} false - if the condition is false
       */
       _isRadio() {
        return this.typeInput === 'radio' ? true : false  
      }
      /**
       * Method for verify if data is checked
       * @_getChecked
       * @return {number} return index for checked
       */
       _getChecked(data) {
        let found = data.findIndex(item => item.checked)
        //console.log("Found ", found)
        if (found > -1) { // lo encontro
          return found + 1
        }
        return 1
      }
      /**
       * Method for verify that element is a checkbox input
       * @_isCheckbox
       * @return {boolean} false - if the condition is false
       */
       _isCheckbox() {
        return this.typeInput === 'checkbox' ? true : false  
      }
    }

    window.customElements.define(PlusKimbleDynamicFormField.is, PlusKimbleDynamicFormField);
  </script>
</dom-module>
