<dom-module id="styles-beta-grid">
    <template>
      <style>
        .plus-kimble-row {
          /*border: 1px solid purple;*/
          padding: 5px;
          display: flex;
        }
        .plus-kimble-row-for-all {
          /*border: 1px solid lime;*/
          padding: 5px;
          display: flex;
          flex-wrap: wrap;
        }
        .plus-kimble-col-2 {
          flex-basis: 20%;
          /*border: 1px solid brown;*/
          margin: 5px;
        }
        .plus-kimble-col-3 {
          flex-basis: 33%;
          /*border: 1px solid aqua;*/
          margin: 5px;
        }
        .plus-kimble-col-4 {
          flex-basis: 25%;
          /*border: 1px solid orange;*/
          margin: 5px;
        }
        .plus-kimble-col-6 {
          flex-basis: 50%;
          /*border: 1px solid lime;*/
          margin: 5px;
        }
        .plus-kimble-col-8 {
          flex-basis: 66.6%;
          /*border: 1px solid cadetblue;*/
          margin: 5px;
        }
        .plus-kimble-col-10 {
          flex-basis: 83.3%;
          /*border: 1px solid cornflowerblue;*/
          margin: 5px;
        }
        .plus-kimble-col-12 {
          flex-basis: 100%;
          /*border: 1px solid crimson;*/
          margin: 5px;
        }
      </style>
    </template>
  </dom-module>